[submodule "lib/tokenbound"]
	path = lib/tokenbound
	url = https://github.com/tokenbound/contracts
[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = https://github.com/openzeppelin/openzeppelin-contracts
